@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Ldsd1YpAAAAAJVAVQKzEM_KC9veKtUcJU0m689_"></script>
</head>
<body class="bg-gray-100">
    <div class="min-h-screen flex items-center justify-center">
        <div class="max-w-md w-full p-6 bg-white rounded-md shadow-lg">
            <h1 class="text-3xl text-center mb-6">Bienvenidos a Login</h1>
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                    <span class="block sm:inline">@ViewBag.ErrorMessage</span>
                </div>
            }
            <form asp-controller="Login" asp-action="Login" method="post" id="login-form">
                <div class="mb-4">
                    <label for="username" class="block text-gray-600 text-sm mb-2">Usuario:</label>
                    <input type="text" id="username" name="username" class="w-full p-2 border rounded-md" placeholder="Ingrese su usuario" autocomplete="username" required>
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-gray-600 text-sm mb-2">Contraseña:</label>
                    <input type="password" id="password" name="password" class="w-full p-2 border rounded-md" placeholder="Ingrese su contraseña" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="recaptchaToken" id="recaptchaToken">

                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full">
                    Iniciar Sesión
                </button>
            </form>
            <script>
                grecaptcha.ready(function() {
                    document.getElementById('login-form').addEventListener('submit', function(event) {
                        event.preventDefault();
                        grecaptcha.execute('6Ldsd1YpAAAAAJVAVQKzEM_KC9veKtUcJU0m689_', {action: 'login'}).then(function(token) {
                            document.getElementById('recaptchaToken').value = token;
                            document.getElementById('login-form').submit();
                        });
                    });
                });
            </script>
        </div>
    </div>
</body>
</html>
